name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        emacs_version:
          - 28.1
          - 29.1
          - snapshot

    steps:
    - uses: actions/checkout@v3

    # Install sops
    - name: Install sops
      run: |
        curl -LO https://github.com/getsops/sops/releases/download/v3.8.1/sops-v3.8.1.linux.amd64
        chmod +x sops-v3.8.1.linux.amd64
        sudo mv sops-v3.8.1.linux.amd64 /usr/local/bin/sops

    # Install Emacs
    - name: Install Emacs
      uses: purcell/setup-emacs@master
      with:
        version: ${{ matrix.emacs_version }}

    # Install dependencies (yaml, etc) if needed.
    # Since we use built-in json and mock-yaml is included, we mainly need the 'yaml' package for real parsing.
    # We can install it via package.el in batch mode.
    - name: Install dependencies
      run: |
        emacs -Q -batch -eval "(progn (require 'package) (add-to-list 'package-archives '(\"melpa\" . \"https://melpa.org/packages/\") t) (package-initialize) (package-refresh-contents) (package-install 'yaml))"

    - name: Run tests
      run: make test
